body {
  position: relative;
  background: none !important;
}

.background {
  position: fixed;
  background:linear-gradient(rgb(245, 245, 248), rgb(233, 233, 237));
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  opacity: 0.4;
}

.laila{
  font-family: "Laila", serif;
  font-style: normal;
}

.std.text {
  margin: 0.3em 0 0 0;
}

.std.title1 {
  font-size: xx-large;
  font-weight: 700;
}

.std.title2 {
  font-size: x-large;
  font-weight: 500;
}

.std.title3 {
  font-size: larger;
  font-weight: 500;
}

.std.accent-bold {
  font-weight: 600;
}

.std.accent-italic {
  font-style: italic;
}

.button{
  border: none;
  background: #242323;
  color: white;
  padding: 0.5rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-self: center;

}

textarea{
  background: #d9d9d9;
  border-radius: 1rem;
  padding: 1rem;
  border:none;
  width: 80%;
  height:max-content;
}

.right-box{
  display: flex;
}

.creator-username{
  font-weight: 600;
}
.div-h1{
  font-size: 5rem;
  font-weight: 700;
}

.div-p{
  margin-top: 6vh;
  font-size: 2rem;
  font-weight: 600;
}


/* ===== */

.date {
  margin: 0;
  font-size: 0.85em;
  opacity: 0.65;
}

.post-btn {
  display: flex;
  align-items: center;
  appearance: none;
  border: none;
  background: none;
  padding: 4px 12px;
  gap: 6px;
  border: solid 1px rgb(202, 202, 202);
  border-radius: 100px;
  outline: none;
  color: rgba(0, 0, 0, 0.8);
  transition: ease-in background-color 0.1s;
}

.post-btn:hover {
  background-color: rgb(236, 236, 236);
}

.post-btn:focus {
  outline: none;
}

.post-btn-green {
  color: rgb(49, 154, 96);
  background-color: rgb(236, 255, 245);
}

.post-btn-green:hover {
  background-color: rgb(211, 238, 224);
}

.post-btn-red {
  color: rgb(242, 81, 53);
  background-color: rgb(255, 244, 242);
}

.post-btn-red:hover {
  background-color: rgb(240, 224, 221);
}

.post-btn-icon {
  font-size: 1.2rem;
  transition: ease-in scale 0.1s;
}

.post-btn:hover .post-btn-icon {
  scale: 1.075;
}

.post-btn:active .post-btn-icon {
  scale: 0.925;
}

.post-btn-count {
  font-size: 0.75rem;
  font-weight: 600;
  opacity: 0.75;
  width: 1em;
}

.post-btn-grp {
  display: flex;
}

.post-btn-grp .post-btn:not(:first-child) {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.post-btn-grp .post-btn:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow:auto;
  max-height:50vh;
  width: 70%;
  margin-bottom: 5vh;
}


.form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

}

.input{
  display:flex;
  justify-content: center;
  width: 100%;
}

                        /***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: #053a5f;
  height: 0.5rem;
  border-radius: 0.5rem;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track{
  background: #053a5f;
  height: 0.5rem;
  border-radius: 0.5rem;
}
