body {
  position: relative;
  background: none !important;
}

.background {
  position: fixed;
  background:linear-gradient(rgb(245, 245, 248), rgb(233, 233, 237));
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.laila{
  font-family: "Laila", serif;
  font-style: normal;
}

.std.text {
  margin: 0.3em 0 0 0;
}

.std.title1 {
  font-size: xx-large;
  font-weight: 700;
}

.std.title2 {
  font-size: x-large;
  font-weight: 500;
}

.std.title3 {
  font-size: larger;
  font-weight: 500;
}

.std.accent-bold {
  font-weight: 600;
}

.std.accent-italic {
  font-style: italic;
}

.div-h1{
  font-size: 5rem;
  font-weight: 700;
}

.div-p{
  margin-top: 6vh;
  font-size: 2rem;
  font-weight: 600;
}